body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: #ccc;
    background-color: #313338;
}

.container {
    text-align: center;
}

.grid {
    display: grid;
    grid-template-columns: repeat(5, 60px);
    grid-gap: 10px;
    margin-bottom: 20px;
    justify-content: center;
}

.square {
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    border: 2px solid #ccc;
    border-radius: 10%;
}

.correct {
    background-color: green;
}

.wrong-position {
    background-color: orange;
}

.incorrect {
    background-color: red;
}

#guessInput {
    padding: 10px;
    font-size: 16px;
}

button {
    padding: 10px 20px;
    font-size: 16px;
}